{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="navbar">
      <label for="">Biblioteca</label>
      <a href="{% url 'logout' %}">Sair</a>
    </div>

    <form action="{% url 'busca' %}">
      <div class="form-inputs">
        <input type="text" name="search" placeholder="Buscar livro..." />
        <button type="submit">Buscar</button>
      </div>
      <div class="add-btn">
        <a href="{% url 'adicionar' %}">+ Adicionar livro</a>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Autor</th>
          <th>Editora</th>
          <th>Ano</th>
          <th>Ativo</th>
        </tr>
      </thead>
      <tbody>
        {% for livro in livros %}
        <tr>
          <td>{{livro.id}}</td>
          <td><a href="{% url 'detalhes' livro.id  %}">{{livro.nome}}</a></td>
          <td>{{livro.autor}}</td>
          <td>{{livro.editora}}</td>
          <td>{{livro.ano}}</td>
          {% if livro.ativo == True %}
          <td><i class="fa fa-check"></i></td>
          {% else %}
          <td><i class="fa fa-xmark"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
    </div>
  </body>
</html>
